@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #15202B;
  font-family: "Patrick Hand SC", cursive;

}
.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #121a22;
}

.sobre-mim {
  padding: 20px;
  margin-top: 30px;
}